@charset "UTF-8";
/* CSS Document */

body {
	text-align:center;
	margin:0;
	padding:0;
	background-color:#b62125;
	background-image:url(../images/background.jpg);
	background-repeat:repeat;
}

#backline {
	background-color:#333;
	height:25px;
	width:100%;
	position:absolute;
	top:0;
	background-image:url(../images/footerbackground.jpg);
	background-repeat:repeat-x;
}

#container {
	position:relative;
	margin:auto;
	width:980px;
	height:600px;
	z-index:10;
	border-top:none;
	background-image:url(../images/homeback.jpg);
	background-position:center top;
}

#container_form {
	position:relative;
	margin:auto;
	width:980px;
	height:800px;
	z-index:10;
	border-top:none;
	background-image:url(../images/homeback.jpg);
	background-position:center top;
}

#container_officer {
	position:relative;
	margin:auto;
	width:980px;
	height:900px;
	z-index:10;
	border-top:none;
	background-image:url(../images/homeback.jpg);
	background-position:center top;
}

#backline_top {
	background-color:#333;
	height:25px;
	width:1180px;
	position:absolute;
	top:0;
	background-image:url(../images/footerbackground.jpg);
	background-repeat:repeat-x;
}

#nav {
	position:absolute;
	left:75px;
	height:569px;
	z-index:500;
	width:250px;
	background-image:url(../images/banner.png);
}
h1 {
	font-family:"Times New Roman", Times, serif;
	color:#333;
	font-size:18px;
}

#content {
	position:absolute;
	left:350px;
	top:25px;
	height:575px;
	width:615px;
	background-color:#f2f1d2;
	text-align:left;
	padding-left: 15px;
}

#content p {
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	width:600px;
}

#content.home {
	top:200px;
	background-color: transparent;
	height: auto;
}
	
#content.home p {
	margin-top:150px;
	padding-left:25px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	color:#fff;
	width:550px;
	font-size:45px;
	font-weight:bolder;
}

#content.officers {
	position:absolute;
	left:350px;
	top:25px;
	height:875px;
	width:630px;
	background-color:#f2f1d2;
	text-align:left;
}
	
#contentform {
	position:absolute;
	left:350px;
	top:25px;
	height:775px;
	width:730px;
	background-color:#f2f1d2;
	text-align:left;
}

#contentform p {
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	width:600px;
}
	
#breadcrumbs {
	color:#b62125;
	font-size:13px;
}

#breadcrumbs a {
	color:#333333;
	font-size:14px;
	text-transform:uppercase;
	font-family:"Times New Roman", Times, serif;
	letter-spacing:1px;
}

#footer {
	position:absolute;
	top:600px;
	height:60px;
	background-color:#333;
	width:980px;
	background-image:url(../images/footerbackground.jpg);
	background-repeat:repeat-x;
}
	
#footer p, #footer p a {
	color:#FFFFFF;
	font-size:14px;
	line-height:17px;
	text-decoration:none;
	font-family:"Times New Roman", Times, serif;
	letter-spacing:1px;
	font-weight:100;
}
	
#footer p a:hover {
	text-decoration:underline;
}
  
#footer_officer {
	position:absolute;
	top:850px;
	height:60px;
	background-color:#333;
	width:980px;
	background-image:url(../images/footerbackground.jpg);
	background-repeat:repeat-x;
}
	
#footer_officer p, #footer_officer p a {
	color:#FFFFFF;
	font-size:14px;
	line-height:17px;
	text-decoration:none;
	font-family:"Times New Roman", Times, serif;
	letter-spacing:1px;
	font-weight:100;
}
	
#footer_officer p a:hover {
	text-decoration:underline;
}
	
#footerform {
	position:absolute;
	top:800px;
	height:60px;
	background-color:#333;
	width:1180px;
	background-image:url(../images/footerbackground.jpg);
	background-repeat:repeat-x;
}
	
#footerform p, #footerform p a {
	color:#FFFFFF;
	font-size:14px;
	line-height:17px;
	text-decoration:none;
	font-family:"Times New Roman", Times, serif;
	letter-spacing:1px;
	font-weight:100;
}
	
#footerform p a:hover {
	text-decoration:underline;
}

#nav ul li a {
	text-transform:uppercase;
	font-family:"Times New Roman", Times, serif;
	color:#333333;
	text-decoration:none;
}
	
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

#nav ul li a:hover {
	text-decoration:underline;
}
	
ul li {
	font-family:Arial, Helvetica, sans-serif;
	list-style-type:none;
}

strong {
		color:#b62125;
}

#content form {
	display: block;
	width: 95%;
	height 80%;
}

#officer_image {
  display:block; 
  float:left; 
  width:85px; 
  height:100px;
}

#officer_blurb {
  display:block; 
  float:left; 
  width:500px; 
  margin: 10px 0 30px 0;
}

div.overflow {overflow:auto;height:85%;width:100%;}
#content div.overflow p{width: 95%;}