<p>
				<a href="http://web.ysu.edu/fpa/communication" alt="Visit the Communications Dept Homepage at YSU" target="_blank">Department of Communications</a>&nbsp;&bull;
				<a href="http://www.ysu.edu" alt="Visit the YSU Homepage" target="_blank">Youngstown State University</a><br />One University Plaza, Youngstown OH, 44555
			</p>