<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Lambda Pi Eta - Youngstown State University</title>
	<meta name="Keywords" content="Lambda Pi Eta, YSU, Student Organization, Lambda Pi Eta, Academic Fraternity" />
	<meta name="Author" content="CSCI 6961 Team" />
	<meta name="Description" content="Learn how to join Lambda Pi Eta at YSU. Be recognized, fostered and rewarded for outstanding scholastic achievement in communication studies" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />