<a href="#"><img src="images/logo.jpg" width="214" height="219" alt="Lambda Pi Eta" border="0" /></a>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="history.html">History</a></li>
			<li><a href="join.html">Join</a></li>
			<li><a href="members.html">Members</a></li>
			<li><a href="events.html">Events</a>
			<li><a href="research.html">Research & Scholarship</a></li>
			<li><a href="pictures.html">Pictures</a></li>
			<li><a href="alumni.html">Alumni</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul> 